Docs/ADR.pdf
Docs/CDR.pdf
Docs/DAL.pdf
Docs/PDE.pdf
Docs/STB 6QP.pdf
Docs/STB AveCesar.pdf
Symfony/src/AGORA/Game/AugustusBundle/Entity/AugustusGame.php~

\.idea/Agora8\.iml

\.idea/encodings\.xml

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/php\.xml

\.idea/vcs\.xml

\.idea/workspace\.xml
